:where(.theme-light) {
  --color-sequential-negative-3: #ffffff;
  --color-sequential-negative-2: #ffffff;
  --color-sequential-negative-1: #ffffff;
  --color-sequential-negative-0: #ffffff;
  --color-sequential-positive-3: #ffffff; /* Third and final step in the base (theme) sequential color scale. */
  --color-sequential-positive-2: #ffffff; /* Thirs step in the base (theme) sequential color scale. */
  --color-sequential-positive-1: #ffffff; /* Second step in the base (theme) sequential color scale. */
  --color-sequential-positive-0: #ffffff; /* First step in the base (theme) sequential color scale, used for the lowest value.  */
  --color-sequential-3: #ffffff;
  --color-sequential-2: #ffffff;
  --color-sequential-1: #ffffff;
  --color-sequential-0: #ffffff;
  --color-complementary-stronger: #ffffff; /* Stronger version of complementary color. */
  --color-complementary-base: #ffffff; /* Main complementary color. */
  --color-complementary-weaker: #ffffff; /* Weaker version of complementary color. */
  --color-diverging-positive-2: #ffffff; /* Fifth step in the base diverging color scale, used for the highest (most positive) value.  */
  --color-diverging-positive-1: #ffffff; /* Fourth step in the base diverging color scale, used for values higher than zero (or data median). */
  --color-diverging-neutral: #dce0e3; /* Third step in the base diverging color scale, used for zero or data median. */
  --color-diverging-negative-2: #ffffff; /* First step in the based diverging color scale, used for the lowest (most negative) value.  */
  --color-diverging-negative-1: #ffffff; /* Second step in the base diverging color scale, used for values lower than zero (or data median). */
  --color-category-strongest-2: #482909;
  --color-category-strongest-1: #2e340a;
  --color-category-strongest-0: #123446;
  --color-category-weakest-2: #f9ddc5;
  --color-category-weakest-1: #dceb84;
  --color-category-weakest-0: #c8e7fd;
  --color-category-stronger-99: #72787c;
  --color-category-stronger-2: #88501a;
  --color-category-stronger-1: #59641b;
  --color-category-stronger-0: #286485;
  --color-category-weaker-99: #c1c7cc;
  --color-category-weaker-2: #f5b985;
  --color-category-weaker-1: #c0ce6b;
  --color-category-weaker-0: #8acffa;
  --color-category-base-99: #a6acb1;
  --color-category-base-2: #ca7d34;
  --color-category-base-1: #8a973d;
  --color-category-base-0: #489ac6;
  --color-functional-link: #1c4c64; /* Used for links. */
  --color-functional-not-available: #b2b2b2; /* Used for visual marks (e.g. countries in maps) where data is missing from the dataset. */
  --color-functional-focus: #ffcb01; /* Used for author-driven accents of parts of charts, texts and other elements. */
  --color-functional-filtered-out: #bec5c9; /* Used for visual marks in charts that have been filtered out. */
  --color-functional-accent: #c0ce6b; /* Used for author-driven accents of parts of charts, texts and other elements. */
  --color-theme-stronger: #0e3950; /* Stronger version of theme color */
  --color-theme-base: #155375; /* Main theme color, usually the brand color. */
  --color-theme-weaker: #316f91; /* Weaker version of theme color */
  --color-foreground-weakest: #dce0e3;
  --color-foreground-weaker: #99a4ac; /* Used for elements in the foreground that have the weakest contrast to the background (e.g. ticks, help-lines) */
  --color-foreground-weak: #616a72; /* Used for elements in the foreground that have a weaker contrast to the background (e.g. axes). */
  --color-foreground-base: #1b1e20; /* Used for elements in the foreground that have a strong contrast to the background. */
  --color-background-weakest: #dce0e3; /* A shaded background color, used e.g. as a backdrop in containers. */
  --color-background-weaker: #f5f7f7; /* A slightly shaded background color, used e.g. as a backdrop behind card elements. */
  --color-background-base: #ffffff; /* The default light background color, used e.g. as a backdrop for charts or cards. */
  --color-blend-mode-max: darken;
  --color-blend-mode-additive: multiply;
  --color-meta-label: Light;
}
