{
  "useTabs": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "printWidth": 200,
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "singleAttributePerLine": true,
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
