/*

	Fluid modular type
	from utopia.fyi

*/

// By defining a min-size and max-size for fonts,
// but also a min- and max-ratio (which is used to scale up e.g. headings),
// we achieve a larger font-size contrast on large devices,
// and less expressed size differences on mobile.

// These are the font size and space vars you can use (ignore the internal stuff further below)
// Compared to utopia.fyi, we rename the font sizes
// to t-shirt sizes and 2xl to xxl, 3xl to xxxl etc.

:root {
  --font-size-xs: var(--step--2);
  --font-size-s: var(--step--1);
  --font-size-m: var(--step-0);
  --font-size-l: var(--step-1);
  --font-size-xl: var(--step-2);
  --font-size-xxl: var(--step-3);

  // --space-xxxs: var(--space-3xs);
  // --space-xxs: var(--space-2xs);
  // --space-xs: var(--space-xs);
  // --space-s: var(--space-s);
  // --space-m: var(--space-m);
  // --space-l: var(--space-l);
  // --space-xl: var(--space-xl);
  // --space-xxl: var(--space-2xl);
  // --space-xxxl: var(--space-3xl);
}

/* @link https://utopia.fyi/type/calculator?c=320,21,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --fluid-min-width: var(--size-min-content-width-no-unit);
  --fluid-max-width: var(--size-max-content-width-no-unit);

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: $size-max-content-width) {
  :root {
    --fluid-screen: var(--size-max-content-width);
  }
}

@media screen and (max-width: $size-min-content-width) {
  :root {
    --fluid-screen: var(--size-min-content-width);
  }
}

:root {
  --f--2-min: var(--font-size-small-xs);
  --f--2-max: var(--font-size-large-xs);
  --step--2: calc(
    ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
      var(--fluid-bp)
  );

  --f--1-min: var(--font-size-small-s);
  --f--1-max: var(--font-size-large-s);
  --step--1: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );

  --f-0-min: var(--font-size-small-m);
  --f-0-max: var(--font-size-large-m);
  --step-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );

  --f-1-min: var(--font-size-small-l);
  --f-1-max: var(--font-size-large-l);
  --step-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );

  --f-2-min: var(--font-size-small-xl);
  --f-2-max: var(--font-size-large-xl);
  --step-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );

  --f-3-min: var(--font-size-small-xxl);
  --f-3-max: var(--font-size-large-xxl);
  --step-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );

  --f-4-min: var(--font-size-small-xxxl);
  --f-4-max: var(--font-size-large-xxxl);
  --step-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );

  --f-5-min: var(--font-size-small-xxxxl);
  --f-5-max: var(--font-size-large-xxxxl);
  --step-5: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );
}

/* @link https://utopia.fyi/space/calculator/?c=320,14,1.2,1440,16,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --fc-3xs-min: (var(--fc-s-min) * 0.25);
  --fc-3xs-max: (var(--fc-s-max) * 0.25);

  --fc-2xs-min: (var(--fc-s-min) * 0.5);
  --fc-2xs-max: (var(--fc-s-max) * 0.5);

  --fc-xs-min: (var(--fc-s-min) * 0.75);
  --fc-xs-max: (var(--fc-s-max) * 0.75);

  --fc-s-min: (var(--f-0-min, 14));
  --fc-s-max: (var(--f-0-max, 16));

  --fc-m-min: (var(--fc-s-min) * 1.5);
  --fc-m-max: (var(--fc-s-max) * 1.5);

  --fc-l-min: (var(--fc-s-min) * 2);
  --fc-l-max: (var(--fc-s-max) * 2);

  --fc-xl-min: (var(--fc-s-min) * 3);
  --fc-xl-max: (var(--fc-s-max) * 3);

  --fc-2xl-min: (var(--fc-s-min) * 4);
  --fc-2xl-max: (var(--fc-s-max) * 4);

  --fc-3xl-min: (var(--fc-s-min) * 6);
  --fc-3xl-max: (var(--fc-s-max) * 6);

  /* T-shirt sizes */
  // --space-3xs: calc(
  //   ((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-3xs-max) - var(--fc-3xs-min)) *
  //     var(--fluid-bp)
  // );
  // --space-2xs: calc(
  //   ((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-2xs-min)) *
  //     var(--fluid-bp)
  // );
  // --space-xs: calc(
  //   ((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) *
  //     var(--fluid-bp)
  // );
  // --space-s: calc(
  //   ((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) *
  //     var(--fluid-bp)
  // );
  // --space-m: calc(
  //   ((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) *
  //     var(--fluid-bp)
  // );
  // --space-l: calc(
  //   ((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) *
  //     var(--fluid-bp)
  // );
  // --space-xl: calc(
  //   ((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) *
  //     var(--fluid-bp)
  // );
  // --space-2xl: calc(
  //   ((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) *
  //     var(--fluid-bp)
  // );
  // --space-3xl: calc(
  //   ((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) *
  //     var(--fluid-bp)
  // );

  /* One-up pairs */
  --space-3xs-2xs: calc(
    ((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-3xs-min)) *
      var(--fluid-bp)
  );
  --space-2xs-xs: calc(
    ((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-2xs-min)) *
      var(--fluid-bp)
  );
  --space-xs-s: calc(
    ((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-xs-min)) *
      var(--fluid-bp)
  );
  --space-s-m: calc(
    ((var(--fc-s-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-s-min)) *
      var(--fluid-bp)
  );
  --space-m-l: calc(
    ((var(--fc-m-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-m-min)) *
      var(--fluid-bp)
  );
  --space-l-xl: calc(
    ((var(--fc-l-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-l-min)) *
      var(--fluid-bp)
  );
  --space-xl-2xl: calc(
    ((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-xl-min)) *
      var(--fluid-bp)
  );
  --space-2xl-3xl: calc(
    ((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-2xl-min)) *
      var(--fluid-bp)
  );

  /* Custom pairs */
  --space-s-l: calc(
    ((var(--fc-s-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-s-min)) *
      var(--fluid-bp)
  );
}
