@import "./reset";
@import "./variables";
@import "./global";
@import "./fonts";

@import "./includes/fluid_type";
@import "./theme/theme_css_vars";
@import "./sass_vars_and_mixins.scss";

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;

	@include color-theme(light);
}

.theme-light {
  @include color-theme(light);
  @include color(text-base);
}

.theme-dark {
  @include color-theme(dark);
  @include color(text-base);
}

@import "./typography";
@import "./layout";