@import "./reset";
@import "./global";
@import "./fonts";
@import "./accordion";

@import "./variables";
@import "./theme/theme.scss";
@import "./theme/theme_css_vars";
@import "./sass_vars_and_mixins.scss";
@import "./spacing.scss";
@import "./chart.scss";
//@import "./includes/fluid_type";

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;

	@include color-theme(light);
}

.theme-light {
  @include color-theme(light);
  @include color(text-base);
}

.theme-dark {
  @include color-theme(dark);
  @include color(text-base);
}

@import "./typography";
@import "./layout";