.chart-gridline {
  stroke: var(--color-foreground-weakest);
  //stroke-dasharray: 2 2;
  shape-rendering: crispEdges;

  &.chart-gridline--invert {
    stroke: var(--color-background-base);
    stroke-dasharray: none;
  }

  &.chart-gridline--highlighed {
    stroke: var(--color-foreground-weaker);
    //stroke-dasharray: 2 1;
  }
}