$narrow: 600px !default;
$medium: 900px !default;
$wide: 1200px !default;
$extra-wide: 1700px !default;

@mixin query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin reset() {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

@mixin chart-info-layout() {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacer-large-s);
}

@mixin button-reset() {
  display: inline-block;
  padding: 0;
  border: 0;
  appearance: none;
  background: none;
  cursor: pointer;
  &::-moz-focus-inner {
    border: 0;
  }
}

@mixin tab-focus() {
  &:not([aria-selected="true"]):not(.tile--is-selected) {
    background-color: var(--color-background-stronger);
    outline: none;
  }
}

@mixin input-field() {
  display: block;
  border: 1px solid var(--color-foreground-weaker);
  border-radius: var(--radius-interactive-l);
  transition: border-color var(--transition-duration-base) ease-out;
  padding: var(--space-xxs);

  &:hover, &:not(:placeholder-shown) {
    border-color: var(--color-foreground-base);
  }

  &:focus {
    border-color: var(--color-functional-accent);
    outline: none;
  }

  &::placeholder {
    color: var(--color-brand-base);
  }
}

@mixin tab() {
  display: block;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: var(--radius-interactive-l);
  transition: background-color var(--transition-duration-base) ease-out, border-color var(--transition-duration-base) ease-out;
  padding: var(--space-xxs);
  cursor: pointer;

  span {
    color: var(--color-brand-stronger);
    font-size: var(--font-size-large-m);
    font-weight: var(--font-font-weight-regular);
    transition: color var(--transition-duration-base) ease-out;
  }

  &:hover, &:focus {
    @include tab-focus();
  }

  &[aria-selected="true"], &.tile--is-selected, &.radio-button--is-selected {
    border-color: var(--color-functional-accent);

    span {
      color: var(--color-brand-stronger);
      font-weight: var(--font-font-weight-bold);
    }
  }

  &[aria-disabled="true"],
  &[aria-disabled="true"]:hover,
  &.tile--disabled,
  &.tile--disabled:hover {
    &, div {
      cursor: not-allowed;
      background-color: transparent !important;

      span {
        color: var(--color-text-weakest);
      }
    }
  }
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  visibility: inherit;
  white-space: nowrap;
}

@mixin unstyle-fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

@mixin text-label {
  font-size: var(--font-size-s);
  text-transform: var(--font-text-case-uppercase);
  letter-spacing: var(--font-letter-spacing-looser);
  color: var(--color-text-weaker);
}

@mixin selection-panel {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--space-xl) var(--space-xl);
  margin-top: var(--space-l);
  // border-bottom: 1px solid var(--color-foreground-weakest);

  .intro {
    grid-column: 1 / span 2;
    font-size: var(--font-size-s);
    color: var(--color-brand-base);
  }
}

@mixin tab-nav-wrapper {
  border-bottom: 1px solid var(--color-foreground-weaker); // TODO

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: var(--space-l); // TODO: Different spacing for Explore Navigation and Impacts Navigation
  }
}

@mixin tab-nav-tab {
  padding: var(--space-xs) 0;
  border-bottom: var(--stroke-active-bold) solid transparent;
  transition: border-bottom-color var(--transition-duration-base) ease-out;

  &.tab--compact {
    padding: var(--space-xxxs) 0;
    border-bottom: var(--stroke-active) solid transparent;
  }

  .link {
    color: var(--color-text-weaker);
    transition: color var(--transition-duration-base) ease-out;
    cursor: pointer;
  }

  &:hover, &:focus {
    .link {
      color: var(--color-text-base);
    }
    outline: none;
  }

  &.active {
    color: var(--color-functional-accent);
    border-bottom-color: var(--color-functional-accent);

    .link {
      color: var(--color-functional-accent);
    }
  }

  &[aria-disabled="true"], // Used in tabs
  &[aria-disabled="true"]:hover, // Used in tabs
  &.tile--disabled,
  &.tile--disabled:hover,
  &.disabled, // Used in LinkList
  &.disabled:hover { // Used in LinkList
    background-color: transparent !important;
    border-bottom-color: transparent;

    .link {
      cursor: not-allowed;
      color: var(--color-text-weakest);
    }
  }
}

@keyframes defer-visibility {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}