$narrow: 600px !default;
$medium: 900px !default;
$wide: 1200px !default;
$extra-wide: 1700px !default;

@mixin query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin tab-focus() {
  &:not([aria-selected="true"]):not(.tile--is-selected) {
    background-color: var(--color-light-blue100);
    outline: none;
  }
}

@mixin tab() {
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: var(--radius-interactive);
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
  border-radius: var(--radius-interactive);
  padding: var(--size-space-large-xxs);
  cursor: pointer;

  span {
    font-size: var(--font-size-large-m);
    font-weight: var(--font-font-weight-regular);
    transition: color 0.3s ease-out;
  }

  &:hover, &:focus {
    @include tab-focus();
  }

  &[aria-selected="true"], &.tile--is-selected {
    border-color: var(--color-functional-accent);

    span {
      color: var(--color-light-blue700);
      font-weight: var(--font-font-weight-bold);
    }
  }

  &[aria-disabled="true"],
  &[aria-disabled="true"]:hover,
  &.tile--disabled,
  &.tile--disabled:hover {
    &, div {
      color: var(--color-light-blue300); // TODO
      cursor: not-allowed;
    }
  }
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  visibility: inherit;
  white-space: nowrap;
}

@mixin text-label {
  font-size: var(--font-size-large-s);
  text-transform: var(--font-text-case-uppercase);
  letter-spacing: var(--font-letter-spacing-looser);
  color: var(--color-light-blue600);
}