.container {
  display: flex;
  justify-content: center; // Horizontally center items
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.wrapper {
  max-width: 1165px;
  width: 100vw;

  &.vertical-space {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: var(--space-xl);
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xxl);
  }

  &.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--space-m) var(--space-m);
  }

  &.content-layout {
    display: grid;
    grid-gap: var(--space-xxxl); // TODO
    margin-bottom: var(--space-xxxl);

    section {
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-gap: var(--space-xl); // TODO

      .text {
        grid-column: 2 / span 1;
      }
    }
  }
}

.explore-intro {
  margin: 0 0 1rem;
}

.impact-tabs.tabs, .analysis-tabs.tabs {
  .tabs__nav {
    flex-direction: row !important;
    gap: 1rem; // TODO
  }
}

.content-header {
  padding: var(--space-xl) 0 var(--space-xxl);
  margin-bottom: var(--space-xxl);
  background-color: var(--color-light-background-stronger);
  border-bottom: 1px solid var(--color-light-background-strongest);

  .title {
    display: block;
    width: 15ch;
  }

  .nav-inpage {
    margin-top: var(--space-xxl);

    &.subcategories {
      display: flex;
      gap: var(--space-xl); // TODO
    }
  }
}

.content-content {
  .headline-paragraph, h2, h3, h4, h5, h6 {
    margin-bottom: var(--space-s);
  }

  .headline-paragraph {
    width: 100%;
  }

  .link {
    display: block;
    margin-top: var(--space-xs);
  }

  p {
    & + p {
      margin-top: var(--space-s);
    }
  }

  p + .headline-paragraph, p + h2, p + h3, p + h4, dd + .headline-paragraph, footer + h2, footer + .headline-paragraph {
    margin-top: var(--space-l);
  }

  .btn {
    margin-top: var(--space-s);
    display: inline-block;
  }
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}