.container {
	display: flex;
	justify-content: center; // Horizontally center items
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.wrapper {
	max-width: 1165px;
	width: 100vw;

	&.grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 1rem; // TODO
	}

	&.content-layout {
		display: grid;
		grid-gap: var(--size-spacer-large-xxxl); // TODO
		margin-bottom: var(--size-spacer-large-xxxl);

		section {
			display: grid;
			grid-template-columns: 2fr 3fr;
			grid-gap: var(--size-spacer-large-xl); // TODO
		}
	}
}

.explore-intro {
	margin: 0 0 1rem;
}

.impact-tabs.tabs, .analysis-tabs.tabs {
	.tabs__nav {
		flex-direction: row !important;
		gap: 1rem; // TODO
	}
}

.content-header {
	margin: var(--size-spacer-large-xxl) 0;

	.wrapper {
		padding-bottom: var(--size-spacer-large-xxl);
		border-bottom: 1px solid var(--color-light-blue300);
	}

	.title {
		display: block;
		width: 15ch;
	}

	.nav-inpage {
		margin-top: var(--size-spacer-large-xxl);

		&.subcategories {
			display: flex;
			gap: var(--size-spacer-large-xl); // TODO
		}
	}
}

.content-content {
	.headline-paragraph {
		margin-bottom: var(--size-spacer-large-s);
	}

	.link {
		display: block;
		margin-top: var(--size-spacer-large-s);
	}

	p {
		& + p {
			margin-top: var(--size-spacer-large-s);
		}
	}

	p + .headline-paragraph {
		margin-top: var(--size-spacer-large-m);
	}
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}