.container {
	display: flex;
	justify-content: center; // Horizontally center items
}

.wrapper {
	max-width: 1165px;
	width: 100vw;

	&.grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 1rem; // TODO
	}
}

.explore-intro {
	margin: 0 0 1rem;
}

.impact-selection.tabs {
	.tabs__nav {
		flex-direction: row !important;
		gap: 1rem; // TODO
	}
}