dt {
	font-weight: var(--weight-bold);
}

dd + dt {
	margin-top: var(--spacing-2);
}

* {
	font-family: var(--font-family-default);
	font-weight: var(--font-font-weight-regular);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family-header);
}

.page-menu { // TODO
	* {
		color: #fff;
	}
}