// Because Figma uses font weight names instead of number, we need to remap these values
:root {
  --font-weight-regular: var(--font-font-weight-regular-number);
  --font-weight-bold: var(--font-font-weight-bold-number);
  --font-weight-extrabold: var(--font-font-weight-extrabold-number);
}

* {
  font-family: var(--font-font-family-base);
}

a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-font-family-heading);
}

// h1, h2, h3, h4, h5, h6, p, span {
//   color: var(--color-brand-stronger);
// }

mark {
  background-color: var(--color-background-stronger);
  color: var(--color-text-base);
}

i.emoji {
  font-style: normal;
}

.page-menu {
  .list-link--default {
    a {
      transition: color var(--transition-duration-base) ease-out;
      color: var(--color-brand-base);
      // color: var(--color-background-weakest);

      &:hover, &:focus {
        color: var(--color-brand-stronger);
      }
    }

    &.active {
      font-weight: var(--font-weight-extrabold);

      a {
        color: var(--color-functional-accent);
      }
    }
  }
}

// Global text classes
.text-label { // Uppercase labels like »Scenarios«, »Indicators«, …
  @include text-label();

  &.text-label--bold {
    font-weight: var(--font-font-weight-bold);
  }
}

.text-underlined { // This is used to highlight scenarios in a text
  font-style: normal;
  font-weight: var(--font-font-weight-bold);
  text-decoration: underline;
  text-decoration-color: var(--color, inherit);
  text-decoration-thickness: .13em;
  text-underline-offset: .13em;
}

.btn {
  background-color: var(--color-functional-accent);
  display: block;
  border: 1px solid transparent;
  color: var(--color-background-base) !important;
  text-decoration: none !important;
  transition: background-color var(--transition-duration-base) ease-out;
  padding: var(--size-space-large-xxs) var(--size-space-large-m);
  cursor: pointer;
  font-size: var(--font-size-large-m);
  font-weight: var(--font-font-weight-regular);
  text-align: center;

  &.btn--big {
    padding: var(--size-space-large-xs);
    font-size: var(--font-size-large-l);
    font-weight: var(--font-weight-extrabold);
  }

  &:focus, &:hover {
    background-color: var(--color-brand-stronger);
  }

  &[aria-disabled="true"],
  &[aria-disabled="true"]:hover {
    background-color: var(--color-foreground-weakest);
    color: var(--color-text-weaker);
    cursor: not-allowed;
  }
}

.title-chart {
  font-size: var(--font-size-large-s);
  
  &.title-chart--title {
    font-weight: var(--font-font-weight-bold);
  }
}

.chart-tick-label {
  font-style: normal;
  font-size: var(--font-size-large-s);
  fill: var(--color-text-weaker);
}

.chart-label {
  font-style: normal;
  font-size: var(--font-size-large-s);
  fill: var(--color-text-weaker);

  &.chart-label--bg {
    fill: var(--color-background-base);
    stroke: var(--color-background-base);
    stroke-opacity: 0.5;
    stroke-width: 4px;
  }

  &.chart-label--bold {
    font-weight: var(--font-font-weight-bold);
  }
}


.content-header {
  .title {
    color: var(--color-brand-stronger);
    font-weight: var(--font-font-weight-bold);
    font-size: var(--font-size-large-xxxl);
    line-height: var(--font-line-height-tightest);
  }

  .nav-inpage {
    &, ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      color: var(--color-brand-base);
      font-size: var(--font-size-large-m);
      line-height: var(--font-line-height-base);
      // font-weight: var(--font-font-weight-bold);

      &:hover, &:focus {
        color: var(--color-brand-stronger);
      }
    }

    .nav-headline-section {
      font-weight: var(--font-font-weight-bold);
    }
  }
}

.content-content {
  .headline-section {
    color: var(--color-brand-stronger);
    font-weight: var(--font-font-weight-extrabold-number);
    font-size: var(--font-size-large-xxl);
    line-height: var(--font-line-height-tightest);
  }

  .headline-paragraph, h2, h3 {
    color: var(--color-brand-stronger);
    font-weight: var(--font-font-weight-extrabold-number);
    font-size: var(--font-size-large-xl);
    line-height: var(--font-line-height-tightest);
    display: inline-block;

    abbr {
      font-weight: var(--font-weight-regular);
      font-size: var(--font-size-large-s);
      display: inline-block;
      margin-left: var(--space-m);
    }
  }

  blockquote {
    display: block;
    padding: var(--space-s);
    margin-top: var(--space-s);
    margin-bottom: var(--space-s);
    background-color: var(--color-background-stronger);
    border: 1px solid var(--color-background-strongest);
  }

  p {
    color: var(--color-brand-stronger);
    font-size: var(--font-size-large-m);
    line-height: var(--font-line-height-base);
  }

  .link {
    font-size: var(--font-size-large-s);
  }

  a {
    color: var(--color-brand-stronger);
    text-decoration: underline;
    text-decoration-color: var(--color-brand-weaker);
    transition: text-decoration-color var(--transition-duration-base) ease, background-color var(--transition-duration-base) ease-out;

    &:hover, &:focus {
      text-decoration-color: var(--color-brand-stronger);
    }
  }
}