* {
  font-family: var(--font-font-family-base);
  font-weight: var(--font-font-weight-regular);
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-font-family-heading);
}

mark {
  background-color: var(--color-light-petrol100);
  color: var(--color-light-gray800);
}

i.emoji {
  font-style: normal;
}

.page-menu { // TODO
  * {
    color: #fff; // TODO
  }

  .list-link--default {
    &.active {
      font-weight: var(--font-font-weight-bold);
    }
  }
}

// Global text classes
.text-label { // Uppercase labels like »Scenarios«, »Indicators«, …
  @include text-label();

  &.text-label--bold {
    font-weight: var(--font-font-weight-bold);
  }
}

.text-underlined { // This is used to highlight scenarios in a text
  font-style: normal;
  font-weight: var(--font-font-weight-bold);
  text-decoration: underline;
  text-decoration-color: var(--color, inherit);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.title-chart {
  font-style: normal;
  font-size: var(--font-size-large-s);
  
  &.title-chart--title {
    font-weight: var(--font-font-weight-bold);
  }
}

.chart-tick {
  font-style: normal;
  font-size: var(--font-size-large-s);
  fill: var(--color-text-weaker);
}

.chart-label {
  font-style: normal;
  font-size: var(--font-size-large-s);
  fill: var(--color-text-weaker);

  &.chart-label--bg {
    fill: var(--color-light-background-base);
    stroke: var(--color-light-background-base);
    stroke-opacity: 0.5;
    stroke-width: 4px;
  }

  &.chart-label--bold {
    font-weight: var(--font-font-weight-bold);
  }
}


.content-header {
  .title {
    color: var(--color-brand-stronger);
    font-weight: var(--font-font-weight-bold);
    font-size: var(--font-size-large-xxxl);
    line-height: var(--font-line-height-tightest);
  }

  .nav-inpage {
    &, ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      color: var(--color-brand-base);
      font-size: var(--font-size-large-m);
      line-height: var(--font-line-height-base);
      // font-weight: var(--font-font-weight-bold);

      &:hover, &:focus {
        color: var(--color-brand-stronger);
      }
    }

    .nav-headline-section {
      font-weight: var(--font-font-weight-bold);
    }
  }
}

.content-content {
  .headline-section {
    color: var(--color-brand-stronger);
    font-weight: var(--font-font-weight-bold);
    font-size: var(--font-size-large-xxl);
    line-height: var(--font-line-height-tightest);
  }

  .headline-paragraph, h2 {
    color: var(--color-brand-stronger);
    font-weight: var(--font-font-weight-bold);
    font-size: var(--font-size-large-xl);
    line-height: var(--font-line-height-tightest);
  }

  p {
    color: var(--color-brand-stronger);
    font-size: var(--font-size-large-m);
    line-height: var(--font-line-height-base);
  }

  a {
    color: var(--color-brand-stronger);
    text-decoration: underline;
    text-decoration-color: var(--color-brand-weaker);
    transition: text-decoration-color var(--transition-duration-base) ease;

    &:hover, &:focus {
      text-decoration-color: var(--color-brand-stronger);
    }
  }
}