:root {
	--font-family-default: Barlow;
	--font-family-header: Barlow;
	--color-white: #fff;
	--color-default: #222;
	// https://type-scale.com/?size=15&scale=1.250&text=A%20Visual%20Type%20Scale&font=Poppins&fontweight=400&bodyfont=body_font_default&bodyfontweight=400&lineheight=1.75&backgroundcolor=%23ffffff&fontcolor=%23000000&preview=false
	--size-0: 3.815rem;
	--size-1: 2.441rem;
	--size-2: 1.953rem;
	--size-3: 1.563rem;
	--size-4: 1.25rem;
	--size-5: 1rem;
	--size-6: 0.8rem;
	--size-7: 0.64rem;
	--spacing-1: 1rem;
	--spacing-2: 2rem;
	--spacing-3: 3rem;
	--spacing-4: 4rem;
	--transition: 0.3s ease;
	--weight-default: 400;
	--weight-bold: 600;
}
