:root {
	--font-font-weight-regular: var(--font-font-weight-regular-number);
	--font-font-weight-bold: var(--font-font-weight-bold-number);
	--font-font-weight-extrabold: var(--font-font-weight-extrabold-number);
}
