:root {
	--font-font-weight-regular: var(--font-font-weight-regular-number);
	--font-font-weight-bold: var(--font-font-weight-bold-number);
	--font-font-weight-extrabold: var(--font-font-weight-extrabold-number);

	--space-xxxl: 6rem;
	--space-xxl: 4rem;
	--space-xl: 3rem;
	--space-l: 2rem;
	--space-m: 1.5rem;
	--space-s: 1rem;
	--space-xs: 0.75rem;
	--space-xxs: 0.5rem;
	--space-xxxs: 0.25rem;

	--font-size-xxxl: 2.8561rem;
	--font-size-xxl: 2.197rem;
	--font-size-xl: 1.69rem;
	--font-size-l: 1.3rem;
	--font-size-m: 1rem;
	--font-size-s: 0.76923077rem;
	--font-size-xs: 0.59171598rem;
}
