:where(.theme-dark) {
  --color-sequential-negative-3: #ffffff;
  --color-sequential-negative-2: #ffffff;
  --color-sequential-negative-1: #ffffff;
  --color-sequential-negative-0: #ffffff;
  --color-sequential-positive-3: #ffffff;
  --color-sequential-positive-2: #ffffff;
  --color-sequential-positive-1: #ffffff;
  --color-sequential-positive-0: #ffffff;
  --color-sequential-3: #ffffff;
  --color-sequential-2: #ffffff;
  --color-sequential-1: #ffffff;
  --color-sequential-0: #ffffff;
  --color-diverging-negative-2: #ffffff;
  --color-diverging-negative-1: #ffffff;
  --color-diverging-neutral: #2c343e;
  --color-diverging-positive-2: #ffffff;
  --color-diverging-positive-1: #ffffff;
  --color-complementary-stronger: #ffffff; /* First step in the based diverging color scale, used for the lowest (most negative) value.  */
  --color-complementary-weaker: #ffffff; /* Second step in the base diverging color scale, used for values lower than zero (or data median). */
  --color-complementary-base: #ffffff; /* Second step in the base diverging color scale, used for values lower than zero (or data median). */
  --color-category-weaker-99: #ffffff;
  --color-category-weaker-5: #575b20;
  --color-category-weaker-4: #366d53;
  --color-category-weaker-3: #a07730;
  --color-category-weaker-2: #993d31;
  --color-category-weaker-1: #613f70;
  --color-category-weaker-0: #124874;
  --color-category-base-99: #ffffff;
  --color-category-base-5: #7e8518;
  --color-category-base-4: #458a69;
  --color-category-base-3: #dc9d38;
  --color-category-base-2: #c85543;
  --color-category-base-1: #825497;
  --color-category-base-0: #22699a;
  --color-category-stronger-99: #ffffff;
  --color-category-stronger-5: #ced56d;
  --color-category-stronger-4: #83c0a4;
  --color-category-stronger-3: #f8c975;
  --color-category-stronger-2: #e38c7c;
  --color-category-stronger-1: #b386c8;
  --color-category-stronger-0: #83bad9;
  --color-functional-link: #ffffff; /* Used for links. */
  --color-functional-filtered-out: #474b69;
  --color-functional-not-available: #cccccc;
  --color-functional-focus: #ffcb01;
  --color-functional-accent: #bfc4f9;
  --color-model-aspect-scope-conditions: #90d3fb; /* Scope conditions */
  --color-model-aspect-conflict: #fa5a6d; /* Category color "conflict" */
  --color-model-aspect-climate: #ffcb01; /* Climate */
  --color-theme-stronger: #ffffff;
  --color-theme-weaker: #ffffff;
  --color-theme-base: #ffffff;
  --color-text-model-aspect-scope-conditions: #90d3fb; /* Scope conditions */
  --color-text-model-aspect-conflict: #fa5a6d; /* Category color "conflict" */
  --color-text-model-aspect-climate: #ffcb01; /* Climate */
  --color-text-stronger: #ffffff; /* Stronger text color for maximum background contrast. */
  --color-text-base: #dddddd;
  --color-text-weaker: #aaaaaa;
  --color-contour-weakest: #777777;
  --color-contour-weaker: #aaaaaa;
  --color-contour-base: #eeeeee;
  --color-surface-weakest: #666666;
  --color-surface-weaker: #303030; /* slightly shaded background */
  --color-surface-base: #202020;
  --color-blend-mode-max: lighten;
  --color-blend-mode-additive: screen;
  --color-meta-label: Dark;
}
