:where(.size-large) {
  --typography-style-minor-secondary: [object Object]; /* Used for tick labels, secondary annotations, footer text. */
  --typography-style-minor-primary: [object Object]; /* Used for smaller annotations in charts. */
  --typography-style-major-secondary: [object Object]; /* Used for secondary legend labels, description, and the chart subtitle. */
  --typography-style-major-primary: [object Object]; /* Used for legend main labels, as well as individual value annotations. */
  --typography-style-large: [object Object]; /* Used for the title of a chart. */
  --typography-style-huge: [object Object]; /* Used for summary statistics, large numbers, etc. */
  --typography-style-base: [object Object]; /* The default text style. */
  --size-space-xxxxxl: 275px;
  --size-space-xxxxl: 183px;
  --size-space-xxxl: 122px;
  --size-space-xxl: 81px;
  --size-space-xl: 54px;
  --size-space-l: 36px;
  --size-space-m: 24px;
  --size-space-s: 16px;
  --size-space-xs: 11px;
  --size-space-xxs: 7px;
  --size-space-xxxs: 5px;
  --size-space-xxxxs: 3px;
  --size-font-size-xxxxxl: 86px;
  --size-font-size-xxxxl: 65px;
  --size-font-size-xxxl: 49px;
  --size-font-size-xxl: 37px;
  --size-font-size-xl: 28px;
  --size-font-size-l: 21px;
  --size-font-size-m: 16px;
  --size-font-size-s: 15px;
  --size-font-size-xs: 14px;
  --size-border-width-xxl: 4px; /* The largest border size. Used for the top chart container line. */
  --size-border-width-xl: 3px; /* A larger border size. Used for lines in focus, and the bottom chart container line. */
  --size-border-width-l: 2px; /* A larger border size. Used for borders between filled elements. */
  --size-border-width-m: 1px; /* The default border size. Used for axes borders, default data lines. */
  --size-border-width-s: 0.5px; /* The smallest border size. Used for gridlines. */
  --size-meta-label: Large;
  --size-viewport-limit: 1440px;
  --size-chart-width: 920px;
  --size-parameter-space-base: 24;
  --size-parameter-space-scale-factor-below-one: 1.5;
  --size-parameter-space-scale-factor: 1.5;
  --size-parameter-font-size-base: 16;
  --size-parameter-font-size-scale-factor-below-one: 1.1;
  --size-parameter-font-size-scale-factor: 1.33;
}
