@import "./xs-grid";
@import "./sm-grid";
@import "./md-grid";
@import "./lg-grid";
@import "./xl-grid";

/* gaps and grid gutters */
@each $s in xxxxs, xxxs, xxs, xs, s, m, l, xl, xxl, xxxl, xxxxl, xxxxxl {
	.gap-$(s) {
		gap: var(--space-$(s));
		flex-gap: var(--space-$(s));
	}

	/* Keep in mind: grid with gutters cannot have other margins… */
	.gutter-$(s) {
		overflow: hidden; /* otherwise margins might cause horizontal scrollbars */
		--grid-gutter: var(--space-$(s));
		margin: calc(var(--grid-gutter) * -0.5);
		> .col {
			/* Keep in mind: grid columns with gutters cannot have other paddings… */
			padding: calc(var(--grid-gutter) * 0.5);
		}
	}
}

.col {
	/* float: left; */
	box-sizing: border-box;
}

.col-right {
	/* float: right; */
	box-sizing: border-box;
}

.col-1 {
	flex-basis: calc(1 / 12 * 100%);
}

.col-2 {
	flex-basis: calc(2 / 12 * 100%);
}

.col-3 {
	flex-basis: calc(3 / 12 * 100%);
}

.col-4 {
	flex-basis: calc(4 / 12 * 100%);
}

.col-5 {
	flex-basis: calc(5 / 12 * 100%);
}

.col-6 {
	flex-basis: calc(6 / 12 * 100%);
}

.col-7 {
	flex-basis: calc(7 / 12 * 100%);
}

.col-8 {
	flex-basis: calc(8 / 12 * 100%);
}

.col-9 {
	flex-basis: calc(9 / 12 * 100%);
}

.col-10 {
	flex-basis: calc(10 / 12 * 100%);
}

.col-11 {
	flex-basis: calc(11 / 12 * 100%);
}

.col-12 {
	flex-basis: 100%;
}
