:root {
  --10: 0.1;
  --color-light-background-base: #fff;
  --color-light-background-weaker: #f2f2f2;
  --color-light-background-weakest: #d6d7d7;
  --color-light-foreground-base: #222222;
  --color-light-foreground-weaker: #727272;
  --color-light-foreground-weakest: #b2b3b3;
  --color-light-text-weaker: #727272;
  --color-light-text-base: #222222;
  --color-light-brand-base: #5d6fb0;
  --color-light-brand-stronger: #273668;
  --color-light-brand-weaker: #90c3d5;
  --color-light-functional-accent: #20a386;
  --color-light-functional-filtered-out: #e4e1d8;
  --color-light-functional-not-available: #b2b2b2;
  --color-light-category-0: #008dc9;
  --color-light-category-1: #f26829;
  --color-light-category-2: #f4a81d;
  --color-light-category-3: #80bc00;
  --color-light-category-4: #6363c0;
  --color-light-category-5: #bd53bd;
  --color-light-diverging-positive-2: #1c4e94;
  --color-light-diverging-positive-1: #6fbedf;
  --color-light-diverging-neutral: #d6dae5;
  --color-light-diverging-negative-1: #ebc26f;
  --color-light-diverging-negative-2: #ee8f00;
  --color-light-sequential-0: #d7e6f3;
  --color-light-sequential-1: #90d3fb;
  --color-light-sequential-2: #008dc8;
  --color-light-sequential-3: #0c2d5b;
  --color-light-gray100: #f2f2f2;
  --color-light-gray200: #d6d7d7;
  --color-light-gray300: #b2b3b3;
  --color-light-gray400: #909191;
  --color-light-gray500: #727272;
  --color-light-gray600: #555555;
  --color-light-gray700: #393939;
  --color-light-gray800: #222222;
  --color-light-blue100: #f1f3f9;
  --color-light-blue200: #d0d6ed;
  --color-light-blue300: #a6b2dc;
  --color-light-blue400: #7e8fc9;
  --color-light-blue500: #5d6fb0;
  --color-light-blue600: #40518f;
  --color-light-blue700: #273668;
  --color-light-blue800: #151f45;
  --color-light-purple100: #fdf0f8;
  --color-light-purple200: #f8cae7;
  --color-light-purple300: #eb99cf;
  --color-light-purple400: #d36eb5;
  --color-light-purple500: #bb429b;
  --color-light-purple600: #962576;
  --color-light-purple700: #6a134d;
  --color-light-purple800: #410c2f;
  --color-light-red100: #feeeee;
  --color-light-red200: #fbcccd;
  --color-light-red300: #f8999b;
  --color-light-red400: #eb666d;
  --color-light-red500: #db2735;
  --color-light-red600: #ab0c19;
  --color-light-red700: #770811;
  --color-light-red800: #4a050b;
  --color-light-orange100: #fff1e2;
  --color-light-orange200: #ffce99;
  --color-light-orange300: #fe9c33;
  --color-light-orange400: #d47b23;
  --color-light-orange500: #a95f1a;
  --color-light-orange600: #7e4713;
  --color-light-orange700: #55300d;
  --color-light-orange800: #331d08;
  --color-light-yellow100: #fff4c1;
  --color-light-yellow200: #f8d52d;
  --color-light-yellow300: #d6af20;
  --color-light-yellow400: #b58b14;
  --color-light-yellow500: #966a0b;
  --color-light-yellow600: #704f08;
  --color-light-yellow700: #4b3505;
  --color-light-yellow800: #2d2003;
  --color-light-green100: #dff7f2;
  --color-light-green200: #96e5d5;
  --color-light-green300: #53c5ad;
  --color-light-green400: #20a386;
  --color-light-green500: #19806a;
  --color-light-green600: #13604f;
  --color-light-green700: #0d4035;
  --color-light-green800: #082620;
  --color-dark-background-base: #1c1f25;
  --color-dark-background-weaker: #4c5873;
  --color-dark-background-weakest: #636e86;
  --color-dark-foreground-base: #eaeaea;
  --color-dark-foreground-weaker: #9597ae;
  --color-dark-foreground-weakest: #696c85;
  --color-dark-text-weaker: #a9abbd;
  --color-dark-text-base: #eaeaea;
  --color-dark-theme-base: #008dc9;
  --color-dark-theme-weaker: #1f4c7e;
  --color-dark-theme-stronger: #90d3fb;
  --color-dark-functional-accent: #ffcb01;
  --color-dark-functional-not-available: #cccccc;
  --color-dark-functional-filtered-out: #474b69;
  --color-dark-category-0: #008dc9;
  --color-dark-category-1: #f26829;
  --color-dark-category-2: #f4a81d;
  --color-dark-category-3: #8fba51;
  --color-dark-category-4: #8a91f3;
  --color-dark-category-5: #bd53bd;
  --color-dark-diverging-positive-2: #a1d0ff;
  --color-dark-diverging-positive-1: #6d8ca3;
  --color-dark-diverging-neutral: #3e404f;
  --color-dark-diverging-negative-1: #94815b;
  --color-dark-diverging-negative-2: #f0b847;
  --color-dark-sequential-0: #2c3c54;
  --color-dark-sequential-1: #445f7e;
  --color-dark-sequential-2: #72a5c9;
  --color-dark-sequential-3: #90d3fb;
  --effect-depth-card: [object Object];
  --effect-depth-hover: [object Object];
  --effect-depth-modal: [object Object];
  --effect-depth-ui: [object Object];
  --font-parameter-scale-large: 1.3;
  --font-parameter-scale-small: 1.2;
  --font-font-family-base: Barlow;
  --font-font-family-heading: Raleway;
  --font-line-height-base: 160%;
  --font-line-height-tighter: 145%;
  --font-line-height-tightest: 125%;
  --font-font-weight-regular: Regular;
  --font-font-weight-bold: Bold;
  --font-font-weight-regular-number: 400;
  --font-font-weight-bold-number: 600;
  --font-font-weight-regular-italic: Italic;
  --font-letter-spacing-base: 0em;
  --font-letter-spacing-looser: 0.15em;
  --font-paragraph-spacing-none: 0;
  --font-paragraph-spacing-base: 8;
  --font-text-case-none: none;
  --font-text-case-uppercase: uppercase;
  --font-text-decoration-none: none;
  --font-size-small-xs: 9.723;
  --font-size-small-s: 11.667;
  --font-size-small-m: 14;
  --font-size-small-l: 16.8;
  --font-size-small-xl: 20.16;
  --font-size-small-xxl: 24.192;
  --font-size-small-xxxl: 29.03;
  --font-size-small-xxxxl: 34.836;
  --font-size-large-xs: 9.468;
  --font-size-large-s: 12.308;
  --font-size-large-m: 16;
  --font-size-large-l: 20.8;
  --font-size-large-xl: 27.04;
  --font-size-large-xxl: 35.152;
  --font-size-large-xxxl: 45.698;
  --font-size-large-xxxxl: 59.407;
  --font-style-base: 400 16px/160% 'Barlow';
  --font-style-caption: 400 16px/160% 'Barlow';
  --font-style-heading: 600 16px/160% 'Barlow';
  --font-style-bold: 600 16px/160% 'Barlow';
  --size-min-content-width: 320px;
  --size-max-content-width: 1440px;
  --size-space-large-xxxs: 4px;
  --size-space-large-xxs: 8px;
  --size-space-large-xs: 12px;
  --size-space-large-s: 16px;
  --size-space-large-m: 24px;
  --size-space-large-l: 32px;
  --size-space-large-xl: 48px;
  --size-space-large-xxl: 64px;
  --size-space-large-xxxl: 96px;
  --size-space-small-xxxs: 3.5px;
  --size-space-small-xxs: 7px;
  --size-space-small-xs: 10.5px;
  --size-space-small-s: 14px;
  --size-space-small-m: 21px;
  --size-space-small-l: 28px;
  --size-space-small-xl: 42px;
  --size-space-small-xxl: 56px;
  --size-space-small-xxxl: 84px;
  --size-spacer-large-xxxs: 4px;
  --size-spacer-large-xxs: 8px;
  --size-spacer-large-xs: 12px;
  --size-spacer-large-s: 16px;
  --size-spacer-large-m: 24px;
  --size-spacer-large-l: 32px;
  --size-spacer-large-xl: 48px;
  --size-spacer-large-xxl: 64px;
  --size-spacer-large-xxxl: 96px;
  --size-max-content-width-no-unit: 1440;
  --size-min-content-width-no-unit: 320;
  --radius-interactive: 5;
  --radius-information: 2;
  --radius-l: 5;
  --radius-m: 4;
  --stroke-default: 1;
  --stroke-active: 2;
  --stroke-active-bold: 4;
}
