$color-light-background-base: #ffffff;
$color-light-background-weaker: #f0f0f0;
$color-light-background-weakest: #e0e0e0;
$color-light-background-transparent-base-90: #ffffffe6;
$color-light-foreground-base: #222222;
$color-light-foreground-weaker: #777777;
$color-light-foreground-weakest: #b7b7b7;
$color-light-text-weaker: #777777;
$color-light-text-base: #222222;
$color-light-text-model-aspect-climate: #cea200;
$color-light-text-model-aspect-scope-conditions: #3483a5;
$color-light-text-model-aspect-conflict: #c24050;
$color-light-brand-base: #658c97;
$color-light-brand-stronger: #3a545c;
$color-light-brand-weaker: #91aeb6;
$color-light-functional-accent: #c0e15c;
$color-light-functional-filtered-out: #e4e1d8;
$color-light-functional-not-available: #b2b2b2;
$color-light-category-0: #008dc9;
$color-light-category-1: #f16829;
$color-light-category-2: #f4a81d;
$color-light-category-3: #80bc00;
$color-light-category-4: #6363c0;
$color-light-category-5: #bd53bd;
$color-light-model-aspect-climate: #eeb900;
$color-light-model-aspect-scope-conditions: #43abd7;
$color-light-model-aspect-conflict: #fa5a6d;
$color-light-diverging-positive-2: #1c4e94;
$color-light-diverging-positive-1: #6fbedf;
$color-light-diverging-neutral: #d6dae5;
$color-light-diverging-negative-1: #ebc26f;
$color-light-diverging-negative-2: #ee8f00;
$color-light-sequential-0: #d7e6f3;
$color-light-sequential-1: #90d3fb;
$color-light-sequential-2: #008dc8;
$color-light-sequential-3: #0c2d5b;
$color-dark-background-base: #202931;
$color-dark-background-stronger: #131b21;
$color-dark-background-weaker: #2d3744;
$color-dark-background-weakest: #525865;
$color-dark-background-transparent-base-10: #2029311a;
$color-dark-background-transparent-base-50: #20293180;
$color-dark-background-transparent-base-80: #202931cc;
$color-dark-background-transparent-base-90: #202931e6;
$color-dark-background-transparent-weakest-30: #5258654d;
$color-dark-background-transparent-weakest-50: #52586580;
$color-dark-foreground-base: #eaeaea;
$color-dark-foreground-weaker: #9597ae;
$color-dark-foreground-weakest: #696c85;
$color-dark-foreground-base50: #eaeaea80;
$color-dark-foreground-base10: #eaeaea1a;
$color-dark-foreground-transparent-weakest-10: #696c851a;
$color-dark-foreground-transparent-weakest-30: #696c854d;
$color-dark-foreground-transparent-weakest-50: #696c8580;
$color-dark-text-weaker: #a9abbd;
$color-dark-text-base: #eaeaea;
$color-dark-text-model-aspect-climate: #ffcb01;
$color-dark-text-model-aspect-conflict: #fa5a6d;
$color-dark-text-model-aspect-scope-conditions: #90d3fb;
$color-dark-brand-base: #97b1b8;
$color-dark-brand-weaker: #6d878e;
$color-dark-brand-stronger: #afd5df;
$color-dark-functional-accent: #bfc3fe;
$color-dark-functional-not-available: #cccccc;
$color-dark-functional-filtered-out: #474b69;
$color-dark-category-0: #008dc9;
$color-dark-category-1: #f26829;
$color-dark-category-2: #f4a81d;
$color-dark-category-3: #8fba51;
$color-dark-category-4: #8a91f3;
$color-dark-category-5: #bd53bd;
$color-dark-diverging-positive-2: #7ed3b9;
$color-dark-diverging-positive-1: #6b867e;
$color-dark-diverging-neutral: #3e404f;
$color-dark-diverging-negative-1: #7b7082;
$color-dark-diverging-negative-2: #d0aae9;
$color-dark-sequential-0: #2c3c54;
$color-dark-sequential-1: #445f7e;
$color-dark-sequential-2: #72a5c9;
$color-dark-sequential-3: #90d3fb;
$color-dark-model-aspect-climate: #ffcb01;
$color-dark-model-aspect-conflict: #fa5a6d;
$color-dark-model-aspect-scope-conditions: #90d3fb;
$color-dark-model-aspect-climate-alpha-0: #ffcb0100;
$color-dark-model-aspect-climate-alpha-10: #ffcb011a;
$color-dark-model-aspect-climate-alpha-50: #ffcb0180;
$color-dark-model-aspect-conflict-alpha-0: #fa5a6d00;
$color-dark-model-aspect-conflict-alpha-10: #fa5a6d1a;
$color-dark-model-aspect-conflict-alpha-50: #fa5a6d80;
$color-dark-model-aspect-scope-conditions-alpha-0: #90d3fb00;
$color-dark-model-aspect-scope-conditions-alpha-10: #90d3fb1a;
$color-dark-model-aspect-scope-conditions-alpha-50: #90d3fb80;
$color-dark-model-aspect-climate-gradient: linear-gradient(to right, #ffcb0100, #ffcb0180);
$color-dark-thematic-cropland: #dbbf5c;
$color-dark-thematic-grassland: #abb88b;
$color-dark-thematic-agricultural-land: #d7e987;
$effect-depth-card: [object Object];
$effect-depth-hover: [object Object];
$effect-depth-modal: [object Object];
$effect-depth-ui: [object Object];
$font-parameter-scale-large: 1.414;
$font-parameter-scale-small: 1.2;
$font-font-family-base: BundesSans Web;
$font-font-family-heading: BundesSans Web;
$font-line-height-base: 160%;
$font-line-height-tighter: 145%;
$font-line-height-tightest: 125%;
$font-font-weight-regular: Regular;
$font-font-weight-italic: Italic;
$font-font-weight-bold: Bold;
$font-font-weight-regular-number: 400;
$font-font-weight-bold-number: 600;
$font-letter-spacing-base: 0em;
$font-letter-spacing-looser: 0.15em;
$font-paragraph-spacing-none: 0;
$font-paragraph-spacing-base: 8;
$font-text-case-none: none;
$font-text-case-uppercase: uppercase;
$font-text-decoration-none: none;
$font-text-decoration-underline: underline;
$font-size-small-xs: 9.723;
$font-size-small-s: 11.667;
$font-size-small-m: 14;
$font-size-small-l: 16.8;
$font-size-small-xl: 20.16;
$font-size-small-xxl: 24.192;
$font-size-small-xxxl: 29.03;
$font-size-small-xxxxl: 34.836;
$font-size-large-xs: 8.002;
$font-size-large-s: 11.315;
$font-size-large-m: 16;
$font-size-large-l: 22.624;
$font-size-large-xl: 31.99;
$font-size-large-xxl: 45.234;
$font-size-large-xxxl: 63.961;
$font-size-large-xxxxl: 90.441;
$font-style-base: 400 16px/160% 'BundesSans Web';
$font-style-caption: 400 16px/160% 'BundesSans Web';
$font-style-heading: 600 16px/160% 'BundesSans Web';
$font-style-bold: 600 16px/160% 'BundesSans Web';
$size-min-content-width: 320px;
$size-max-content-width: 1440px;
$size-space-large-xxxs: 4px;
$size-space-large-xxs: 8px;
$size-space-large-xs: 12px;
$size-space-large-s: 16px;
$size-space-large-m: 24px;
$size-space-large-l: 32px;
$size-space-large-xl: 48px;
$size-space-large-xxl: 64px;
$size-space-large-xxxl: 96px;
$size-space-small-xxxs: 3.5px;
$size-space-small-xxs: 7px;
$size-space-small-xs: 10.5px;
$size-space-small-s: 14px;
$size-space-small-m: 21px;
$size-space-small-l: 28px;
$size-space-small-xl: 42px;
$size-space-small-xxl: 56px;
$size-space-small-xxxl: 84px;
$size-breakpoint-xs: 480px;
$size-breakpoint-sm: 640px;
$size-breakpoint-md: 960px;
$size-breakpoint-lg: 1200px;
$size-breakpoint-xl: 1440px;
$size-border-radius: 3;
$size-max-content-width-no-unit: 1440;
$size-min-content-width-no-unit: 320;